body {
    font-family: sans-serif;
    background-color: rgb(237,237,237);
}

.container {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    box-sizing: border-box;
    /* grid-row-gap: 45px;
    grid-column-gap: 20px; */
    grid-template-areas: 
        "nav"
        "main"
        "footer"
}