
body {
    width: 100vw;
    font-size: 20px;
    line-height: 2;
    font-family: "black han sans","ChangaOne","Walrus Bold", Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    border:0;
    background-color: rgb(237,237,237);
    font-weight: 100;
}

.container {
    display: grid;
    margin:0%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    box-sizing: border-box;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "nav nav nav nav nav nav"
        "ls top-buffer top-buffer top-buffer top-buffer rs"
        "ls a b c d rs"
        "ls e f g h rs"
        "ls i j k l rs"
        "ls m n o p rs"
        "ls bottom-buffer bottom-buffer bottom-buffer bottom-buffer rs"
        "footer footer footer footer footer footer";
}

.stripe {
    background-color: rgb(77,142,150);
    margin-left: 0;
    margin-right: 0;
    justify-content:space-between;
    padding-left: 10%;
  }

#nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
}

#logo {
  background-color: rgb(26,30,50);
  font-size: 60px;
  color:rgb(255,255,255);
  font-weight: bold;
  padding-left: 2%;
  padding-right: 2%;
  width:fit-content;
  border:0;
  /* transform:translate(0 100%); */
}
.pages {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-right: 10%;
  flex-wrap:wrap;
  /* padding-left: 50%; */
}

a:link, a:visited {
  background-color: rgb(26,30,50);
  color: white;
  font-size: 16px;
  padding: 8px 15px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 7%;
}

a:hover, a:active {
  color:rgb(101, 103, 110);
}

.sidemargin {
    background-color: rgb(237,237,237);
    color: rgb(237,237,237);
  }

  #ls {
    grid-area: ls;
  }

  #rs {
    grid-area: rs;
  }

  #top-buffer {
    grid-area: top-buffer;
  }

  #bottom-buffer {
    grid-area: bottom-buffer;
  }

  .cards {
    padding-left: 0;
    padding-right: 0;
  }
  #a {
    grid-area: a;
  }
  #b {
    grid-area: b;
  }
  #c {
    grid-area: c;
  }
  #d {
    grid-area: d;
  }
  #e {
    grid-area: e;
  }
  #f {
    grid-area: f;
  }
  #g {
    grid-area: g;
  }
  #h {
    grid-area: h;
  }
  #i {
    grid-area: i;
  }
  #j {
    grid-area: j;
  }
  #k {
    grid-area: k;
  }
  #l {
    grid-area: l;
  }
  #m {
    grid-area: m;
  }
  #n {
    grid-area: n;
  }
  #o {
    grid-area: o;
  }
  #p {
    grid-area: p;
  }
  

.images img {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }

  #bottom {
    display:flex;
    padding-left: 40%;
    align-items: center;
  }
  
    footer {
      grid-area: footer;
      margin-bottom: 0;
      padding-bottom: 0;
      color: white;
      font-size: 10px;
    }
  
    .social {
      padding-right: 5%;
    }
    

    @media screen and (max-width: 1024px) {
      .container {
          grid-template-columns: 1fr auto auto 1fr;
          grid-template-rows: 1fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr 1fr;
          grid-row-gap: 10px;
          grid-template-areas: 
          "nav nav nav nav"
          "ls top-buffer top-buffer rs"
          "ls a b rs"
          "ls c d rs"
          "ls e f rs"
          "ls g h rs"
          "ls i j rs"
          "ls k l rs"
          "ls m n rs"
          "ls o p rs"
          "ls bottom-buffer bottom-buffer rs"
          "footer footer footer footer";
        }

      }


    @media screen and (max-width: 600px) {
      .container {
          grid-template-columns: auto auto;
          /* grid-template-rows: 1fr .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr 1fr; */
          grid-row-gap: 10px;
          grid-column-gap:1px;
          grid-template-areas: 
          "nav nav"
          "ls top-buffer"
          "ls a"
          "ls b"
          "ls c"
          "ls d"
          "ls e"
          "ls f"
          "ls g"
          "ls h"
          "ls i"
          "ls j"
          "ls k"
          "ls l"
          "ls m"
          "ls n"
          "ls o"
          "ls p"
          "ls bottom-buffer"
          "footer footer";
        }
  
        .pages {
          padding-right: 0;
        }
        .stripe {
          display: flex;
          padding-top: 0%;
          margin-top: 0;
          flex-wrap: wrap;
        }
        #bottom {
            padding-left: 0;
        }
        .social {
          padding-right: 0;
        }
      }