* {
    box-sizing: border-box;
  }

body {
    font-size: 12px;
    line-height: 2;
    font-family: "black han sans",Arial, Helvetica, sans-serif;
    margin:0;
    padding-left:0;
    background-color: rgb(237,237,237);
}

container {
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto auto auto;
    /* grid-template-rows: 2fr 3fr 3fr 3fr 2fr 1fr;  */
    width: 746px;
    height: 900px;
}

.stripe {
    background-color: rgb(77,142,150);
    color: rgb(77,142,150);
    grid-column: 1 / 5;
    z-index: -1;
}

#top {
    height: 175px;
    grid-row: 1 / 2;
}

banner {
    display: inline-flex;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    color: black;
    border: 2px solid;
    border-color: rgb(95,179,189);
    border-radius: 1% 1% 1% 1%;
    }
    
h2 {
    font-size: 45px;
    line-height: 1;
    font-family: "black han sans";
    font-weight: bolder;
    padding: 110px 30px 30px;
    margin: 0;
    background-color: rgb(255,255,255);
}
     
h3 {
    line-height: .4;
}

.cards img {
    border: 6px solid;
    border-color: rgb(95,179,189);
    border-radius: 2%;
}

.cards {
    /* line-height: 1.6; */
}

#first {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
    
#second {
    grid-area: 3 / 2 / 4 / 3;
}
        
        
#third {
    grid-area: 3 / 3 / 4 / 4;
}
        
        
#fourth {
    grid-area: 3 / 4 / 4 / 5;
}    

.blurbs {
    padding-left: 15px;
    padding-right: 20px;
    border: 6px solid;
    border-color: rgb(95,179,189);
}

#featured {
    grid-area: 4 / 1 / 6 / 3;
    height: fit-content;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.boxtitle {
    /* padding-top: 60px; */
    display: flex;
}

#girl {
    /* display: inline-block; */
    padding-top: 60px;
    padding-bottom: 20px;
}

#hairtitle {
    /* display: inline-block; */
    padding-left: 30px;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 50px;
}

#mike {
    grid-area: 4 / 3 / 5 / 5;
    color: rgb(255,255,255);
    background-color: rgb(80,144,148);
    padding-top: 30px; 
}

#person{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    font-weight: lighter;
}

#hairloss {
    grid-area: 5 / 3 / 6 / 5;  
    color: rgb(255,255,255);
    background-color: rgb(80,144,148);
    margin-bottom: 70px;
    margin-top: 0px;
    display: flex;
}

#manpic {
    transform: scale(1.1);
}

#helpline {
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
}

#bottom {
    grid-row: 6 / 7;
    height: 100px;
    grid-column: 1 / 5;
}