    
body {
    width: 100%;
    font-size: 12px;
    line-height: 2;
    font-family: "black han sans","Changa One","Walrus Bold", Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    border:0;
    background-color: rgb(237,237,237);
}

  .container {
      display: grid;
      width: 100%;
      grid-template-columns: .5fr 1fr 1fr 1fr 1fr .5fr;
      grid-template-rows: 10% 30% auto auto auto 8%;
      box-sizing: border-box;
      grid-row-gap: 2%;
      grid-column-gap: 2%;
      grid-template-areas: 
      "nav nav nav nav nav nav"
      "ls banner banner banner banner rs"
      "ls first second third fourth rs"
      "ls featured featured hairstyle hairstyle rs"
      "ls featured featured baldguy baldguy rs"
      "footer footer footer footer footer footer";
    }

    banner {
      grid-area: banner;
      display: inline-flex;
      color: black;
      border: 2px solid;
      border-color: rgb(95,179,189);
      border-radius: 1% 1% 1% 1%;
      align-items: stretch;
      background-color: rgb(255,255,255);
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap:nowrap;
    }

#biggirl {
  flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
}
  
.flex-container {
  display: flex;
  width: 100%;
}

  #nav {
    width: 100%;
    height: 100%;
    grid-area: nav;
    background-color: rgb(77,142,150);
    color: rgb(77,142,150);
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }

  #logo {
    color:aliceblue;
    padding-left: 11%;
  }
  #pages {
    padding-right: 11%;
  }
  
  .sidemargin {
    background-color: rgb(237,237,237);
    color: rgb(237,237,237);
  }

  #ls {
    grid-area: ls;
  }

  #rs {
    grid-area: rs;
  }

  /* banner {
    grid-area: banner;
    display: inline-flex;
    color: black;
    border: 2px solid;
    border-color: rgb(95,179,189);
    border-radius: 1% 1% 1% 1%;
    align-items: stretch;
    background-color: rgb(255,255,255);
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap:nowrap;
  } */

.images img {
    width: 100%;
    object-fit:fill;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 0;
  }

.great-hairstyle {
 
  display: flex;
  flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
   padding-left: 10%;
   padding-right: 10%;
   align-items:center;
    /* padding-top: 20%;
    padding-bottom: 20%; */
    background-color: rgb(255,255,255);
}

  h2 {
    font-size: 55px;
    font-family: "black han sans";
    font-weight: bolder;
    line-height: 1;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 110px; */
    /* margin-bottom: 0; */
    background-color: rgb(255,255,255);
    }
          
  h3 {
    line-height: .4;
  }

  .cards img {
    width: 100%;
    border: 6px solid;
    border-color: rgb(95,179,189);
    border-radius: 2%;
    }
    
  #first {
    grid-area: first;
  }
  
  #second {
    grid-area: second;
  }
  
  #third {
    grid-area: third;
  }
  
  #fourth {
    grid-area: fourth;
  }
  
  .blurbs {
    padding-left: 5%;
    padding-right: 5%;
    border: 6px solid;
    border-color: rgb(95,179,189);
    /* margin-bottom: 0; */
    }
    
  #featured {
    grid-area: featured;
    height: 100%;
    /* padding-bottom: 5%; */
    /* margin-bottom: 2%; */
  }

  .boxtitle {
    display: flex;
    }

#girl {
    padding-top: 15%;
    padding-bottom: 5%;
    width: 25%;
}
        
#hairtitle {
    padding-left: 5%;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 13%;
    line-height: 1;
    }
    
  
  #hairstyle {
    grid-area: hairstyle;
    color: rgb(255,255,255);
    background-color: rgb(80,144,148);
    padding-top: 15%;
    padding-bottom: 1%;
  }
  
  #person{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    font-weight: lighter;
  }

  #baldguy {
    grid-area: baldguy;
    color: rgb(255,255,255);
    background-color: rgb(80,144,148);
    margin-bottom: 10%;
    margin-top: 0px;
    display: flex;
  }

  #manpic {
    transform: scale(1.1);
    }
    
#helpline {
    font-weight: bold;
    font-size: 16px;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
}
        
  footer {
    grid-area: footer;
    background-color: rgb(77,142,150);
    color: rgb(77,142,150);
    z-index: -1;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  @media screen and (max-width: 1190px){
    .container{ 
      grid-template-columns: .5fr auto auto .5fr;
      grid-template-rows: 7% 15% auto auto auto auto auto 5%;
      grid-template-areas:
        "nav nav nav nav"
        "ls banner banner rs"
        "ls first second rs"
        "ls third fourth rs"
        "ls featured featured rs"
        "ls hairstyle hairstyle rs"
        "ls baldguy baldguy rs"
        "footer footer footer footer"
    }
    .great-hairstyle {
      width:100%;
    }
    #hairtitle {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 1020px) {
    .container{ 
      grid-template-columns: .5fr 1fr 1fr .5fr;
      grid-template-rows: 3% 35% auto auto auto auto auto 2%;
    }

    /* .container {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: .3fr .8fr .6fr .6fr .6fr .6fr .5fr .25fr .25fr .2fr;
       
        grid-template-areas: 
        "nav nav nav"
        "ls banner rs"
        "ls first rs"
        "ls second rs"
        "ls third rs"
        "ls fourth rs"
        "ls featured rs"
        "ls hairstyle rs"
        "ls baldguy rs"
        "footer footer footer";
      } */
      banner {
        flex-wrap:wrap;
      }
      .great-hairstyle {
        font-size: 55px;
        padding-left: 5%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;
      }
    }


  @media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 2% auto 2%;
        grid-template-rows: 3% 25% auto auto auto auto auto auto auto 2%;
        grid-row-gap: 1%;
        grid-template-areas: 
        "nav nav nav"
        "ls banner rs"
        "ls first rs"
        "ls second rs"
        "ls third rs"
        "ls fourth rs"
        "ls featured rs"
        "ls hairstyle rs"
        "ls baldguy rs"
        "footer footer footer";
      }
      banner {
        flex-wrap:wrap;
      }
        
    }